* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

/* ********************************************* VIDEO ******************************************************* */
.video_container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

#videoElement {
    width: 100%;
    height: 100%;
}

/* *************************************RECORD AND CAPTURE BUTTON ********************************************* */

/* Parent Button */
.parent_btn {
    width: 7rem;
    height: 7rem;
    border: 10px solid white;
    border-radius: 50%;
    position: fixed;
    top: 18vw;
    z-index: 6;
    right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Record Button */
#record_button {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: red;

}

/* Record Animation */
.record_animation {
    animation: scaleUp 0.7s ease-in infinite;
}

/* Capture Button */
#capture_button {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    outline: none;
    border: none;
}


.capture_container {
    top: 51vh;
}

/* Capture Animation */
.capture_animation {
    animation: zoomOut 2s ease-in;
}

/* .buttons{
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
} */

/* ********************************************* FILTERS ******************************************************* */
.filter_container {
    width: 6rem;
    height: 55vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 20vh;
    left: 5vw;
    z-index: 6;
}

.filter {
    border: 1px solid red;
    background-image: url("https://picsum.photos/id/237/200/300");
    background-size: cover;
    height: 20%;
    background-blend-mode: color-burn;

}

/* ****************************************** FILTERS ON UI **************************************************** */
.ui_filter {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    display: none;
}

.ui_filter_active {
    display: block;
}

/* **************************************** RECORDING DURATION ************************************************ */

.time {
    position: fixed;
    color: white;
    bottom: 12vh;
    left: 4.7vw;
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: none;
}

.time_active {
    display: block;
}

/* *************************************** ZOOM IN OR ZOOM OUT ************************************************* */

.zoom_container {
    height: 7rem;
    width: 3.5rem;
    background-color: #444;
    position: fixed;
    top: 13vh;
    right: 7vw;
    z-index: 6;
}

.icon_container {
    height: 50%;
    width: 100%;
    font-size: 1.5rem;
    color: white;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Record Button Animation */
@keyframes scaleUp {
    0% {
        transform: scale(0.5);
    }

    25% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1);
    }
}

/* Capture Button Animation */
@keyframes zoomOut {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.5);
    }
}